<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Encuentra nuestras últimas novedades, eventos y anuncios">
    <meta name="keywords" content="IGLESIA CRISTIANA, RENUEVO DEL ESPIRITU, RELIGION, EVANGELICO, DIOS,">
    <link rel="shortcut icon" href="assets/image/logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">">
    
    <!-- css -->
    <link rel="stylesheet" href="../css/style.css">
    <title>Blog| IRDE - Descubre nuestras últimas noticias</title>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <!--Inicio del header-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="../../index.html">R D E</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="../../index.html">HOME <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/nosotros.html">NOSOTROS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/mensajes.html">MENSAJES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/blog.html">BLOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/contacto.html">CONTACTO</a>
                  </li>
              </ul>
            </div>
          </nav>   
    </header>
    <!--Fin del header-->
    
<section class="container_blog_container">
        <div class="fotoblog">
            <div class="anuncios">
                <h5>Anuncios
                    <div class="carduno">
                          <p class="card-text">En Abril, volvemos a nuestros Servicios en Puente Alto los días Miércoles a las 20:30 hrs. Avenidad Gabriela Oriente 1331.</p>
                    </div>
                </h5>
            </div>
            <div class="eventos">
                <h5>Eventos
                    <div class="carddos">
                          <p class="card-text">Iglesia recuerda agendar en tu calendario el día Domingo en que celebraremos Bautismos. Será un tiempo de comunión y de disfrutar en familia juntos a nuestros hermanos(as). No te lo pierdas.</p>
                    </div>
                </h5>
            </div>
            <div class="reflexiones">
                <h5>Reflexiones
                    <div class="cardtres">
                          <p class="card-text">Y Jesús dijo ¿ Quién es el que me ama? El que hace suyos mis mandamientos y los obedece. Juan 14:21</p>
                    </div>
                </h5>
            </div>  
        </div>    
</section>
<footer>
        <div class="pie-pagina">
            <div class="grupouno">
                <div class="box">
                    <h6>HORARIO</h6>
                    <p>Domingo 11:30 hrs</p>
                </div>
            </div>
            <div class="grupodos">
                <div class="box">
                    <h6>DIRECCIÓN</h6>
                    <p>Centro Deportivo La Araucana,</p>
                    <p>Walker Martínez N°2295, La Florida</p>
                </div>
            </div>
        </div>
        <div class="grupotres">
             <div class="box">
                <a href="https://www.instagram.com/iglesiarde/"><img src="../image/instagram.png"
                        alt="INSTAGRAM"></a>                    <a href="https://www.youtube.com/channel/UCTXnBhJsMFczqIwyNC3s8Gw"><img
                            src="../image/youtube.png" alt="YOUTUBE"></a>
             </div>
        </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>