<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/image/logo.png" type="image/x-icon">
    <!-- css -->
    <link rel="stylesheet" href="../css/style.css">
    <title>Blog</title>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <!--Inicio del header-->
    <header>
        <nav class="navbar">
            <picture class="logo">
                <img src="../image/logo.png" style="width: 50px; height: 50px;" alt="logo">
            </picture>
            <ul class="menu">
                <li class="menu__item">
                    <a href="../../index.html" class="menu__link">HOME</a>
                </li>
                <li class="menu__item">
                    <a href="nosotros.html" class="menu__link">NOSOTROS</a>
                </li>
                <li class="menu__item">
                    <a href="mensajes.html" class="menu__link">MENSAJES</a>
                </li>
                <li class="menu__item">
                    <a href="blog.html" class="menu__link">BLOG</a>
                </li>
                <li class="menu__item">
                    <a href="contacto.html" class="menu__link">CONTACTO</a>
                </li>
            </ul> 
        </nav>
    </header>
    <!--Fin del header-->
    
        <section class="container_blog">
            <div class="fotoblog">
                    <img src="../image/imagenpredica.png" style= "width: 240px;height: 210px" alt="imagenmujeres"><br>
                    <img src="../image/imagenmujeres.png" style= "width: 240px;height: 210px" alt="imagenpredica"><br>
                    <img src="../image/imagenrenuevin.png" style= "width: 240px;height: 210px"alt="imagenrenuevin">
            </div>
            <div class="anuncios">
                <h3>Anuncios
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut similique dolorem, numquam amet odio optio iure fugiat dolore ipsam quisquam in molestias aperiam quod modi quos, tempore ad laboriosam corporis.</p><br>  
                </h3>
            </div>
            <div class="eventos">
                <h3>Eventos
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut similique dolorem, numquam amet odio optio iure fugiat dolore ipsam quisquam in molestias aperiam quod modi quos, tempore ad laboriosam corporis.</p><br>  
                 </h3>
            </div>
            <div class="reflexiones">
                <h3>Reflexiones
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut similique dolorem, numquam amet odio optio iure fugiat dolore ipsam quisquam in molestias aperiam quod modi quos, tempore ad laboriosam corporis.</p><br>  
                </h3>
            </div>
        </section>
        

  
    <footer>
        
        <div class="pie-pagina">
            <div class="grupouno">
                <div class="box">
                    <h3>HORARIO</h3>
                    <p>Domingo 11:30 hrs</p>
                </div>
            </div>
            <div class="grupodos">
                <div class="box">
                    <h3>DIRECCIÓN</h3>
                    <p>Centro Deportivo La Araucana,</p>
                    <p>Walker Martínez N°2295, La Florida</p>
                </div>
            </div>
        </div>
        <div class="grupotres">
             <div class="box">
                <a href="https://www.instagram.com/iglesiarde/"><img src="../image/instagram.png"
                        alt="INSTAGRAM"></a>                    <a href="https://www.youtube.com/channel/UCTXnBhJsMFczqIwyNC3s8Gw"><img
                            src="../image/youtube.png" alt="YOUTUBE"></a>
             </div>
        </div>
        

    </footer>

</body>

</html>