<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/image/logo.png" type="image/x-icon">
    <!-- css -->
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Poppins:wght@500&display=swap" rel="stylesheet">
    <title>Contacto</title>
</head>

<body>
    <!--Inicio del header-->
    <header>
        <nav class="navbar">
            <picture class="logo">
                <img src="../image/logo.png" style="width: 50px; height: 50px;" alt="logo">
            </picture>
            <ul class="menu">
                <li class="menu__item">
                    <a href="../../index.html" class="menu__link">HOME</a>
                </li>
                <li class="menu__item">
                    <a href="nosotros.html" class="menu__link">NOSOTROS</a>
                </li>
                <li class="menu__item">
                    <a href="mensajes.html" class="menu__link">MENSAJES</a>
                </li>
                <li class="menu__item">
                    <a href="blog.html" class="menu__link">BLOG</a>
                </li>
                <li class="menu__item">
                    <a href="contacto.html" class="menu__link">CONTACTO</a>
                </li>
            </ul> 
        </nav>
    </header>
    <!--Fin del header-->
    <section class="formulario">
        <form class="form">
            <h3 class="form__title">ESCRÍBENOS</h3>
            <p class="form_paraghaph">Recuerda conectarte cada Domingo</p>
        
            <div class="form-container">
                <div class="form-group">
                    <input type="text" id="name" class="form_input" placeholder=" ">
                    <label for="name" class="form-label">Nombre</label>
                    <span class="form-line"></span>
                </div>
                <div class="form-group">
                    <input type="email" id="email" class="form_input" placeholder=" ">
                    <label for="email" class="form-label">Email</label>
                    <span class="form-line"></span>
                </div>
                <div class="form-group">
                    <input type="text" id="text" class="form_input" placeholder=" ">
                    <label for="text" class="form-label">Teléfono</label>
                    <span class="form-line"></span>
                </div>   
                <div class="form-group">
                    <input type="text" id="Mensaje" class="form_input" placeholder=" ">
                    <label for="Mensaje" class="form-label">Mensaje</label>
                </div> 
    
                <input type="submit" class="form-submit" value="ENVIAR">   
            </div>
        </form>
       
    </section>
    

</body>

</html>