<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cada Domingo puedes encontrar un mensaje que llenará tu vida">
    <meta name="keywords" content="IGLESIA CRISTIANA, RENUEVO DEL ESPIRITU, RELIGION, EVANGELICO, DIOS,">
    <link rel="shortcut icon" href="../image/logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">">
    
    <!-- css -->
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Poppins:wght@500&display=swap" rel="stylesheet">
    <title>Mensajes | IRDE - Encuentra un mensaje para ti</title>
</head>

<body>
    <!--Inicio del header-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="../../index.html">R D E</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="../../index.html">HOME <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/nosotros.html">NOSOTROS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/mensajes.html">MENSAJES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/blog.html">BLOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/contacto.html">CONTACTO</a>
                  </li>
              </ul>
            </div>
        </nav>   
    </header>
    <!--Fin del header-->
    <main>
        <h2>MENSAJES</h2>
            <div class="videos_mensajes">
                <div class="videoprincipal">
                    <iframe width= "100%" src="https://www.youtube.com/embed/xj4U9vP2MHo" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </div>
                <div class="seccionvideos">
                    <iframe width= "100%"src="https://www.youtube.com/embed/p4ZyxZvYDRM" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                    <iframe width= "100%" src="https://www.youtube.com/embed/qgC_BZ9LOl0" title="YouTube video player"
                     frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                    <iframe  width= "100%"src="https://www.youtube.com/embed/EFmkMfCp4O8" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </div>
            </div>
    </main>

    <!--Inicio del Footer-->
    <footer>

        <div class="pie-pagina">
            <div class="grupouno">
                <div class="box">
                    <h6>HORARIO</h6>
                    <p>Domingo 11:30 hrs</p>
                </div>
            </div>
            <div class="grupodos">
                <div class="box">
                    <h6>DIRECCIÓN</h6>
                    <p>Centro Deportivo La Araucana,</p>
                    <p>Walker Martínez N°2295, La Florida</p>
                </div>
            </div>
        </div>
        <div class="grupotres">
            <div class="box">
                <a href="https://www.instagram.com/iglesiarde/"><img src="../image/instagram.png"
                            alt="INSTAGRAM"></a>
                <a href="https://www.youtube.com/channel/UCTXnBhJsMFczqIwyNC3s8Gw"><img src="../image/youtube.png"
                            alt="YOUTUBE"></a>
            </div>
        </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</body>

</html>