<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cada Domingo puedes encontrar un mensaje que llenará tu vida">
    <meta name="keywords" content="IGLESIA CRISTIANA, RENUEVO DEL ESPIRITU, RELIGION, EVANGELICO, DIOS,">
    <link rel="shortcut icon" href="../image/logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">">
    
    <!-- css -->
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Poppins:wght@500&display=swap" rel="stylesheet">
    <title>Mensajes | IRDE - Encuentra un mensaje para ti</title>
</head>

<body>
    <!--Inicio del header-->
    <header>
        <nav class="navbar">
            <picture class="logo">
                <img src="../image/logo.png" style="width: 50px; height: 50px;" alt="logo">
            </picture>
            <ul class="menu">
                <li class="menu__item">
                    <a href="../../index.html" class="menu__link">HOME</a>
                </li>
                <li class="menu__item">
                    <a href="nosotros.html" class="menu__link">NOSOTROS</a>
                </li>
                <li class="menu__item">
                    <a href="mensajes.html" class="menu__link">MENSAJES</a>
                </li>
                <li class="menu__item">
                    <a href="blog.html" class="menu__link">BLOG</a>
                </li>
                <li class="menu__item">
                    <a href="contacto.html" class="menu__link">CONTACTO</a>
                </li>
            </ul> 
        </nav>
    </header>
    <!--Fin del header-->
    <main>
        <h2>MENSAJES</h2>
            <div class="videos_mensajes">
                <div class="videoprincipal">
                    <iframe width= "800" height="400" src="https://www.youtube.com/embed/xj4U9vP2MHo" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe><br>
                </div>
                <div class="seccionvideos">
                    <iframe width="200" height="150" src="https://www.youtube.com/embed/p4ZyxZvYDRM" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                    <iframe width="200" height="150" src="https://www.youtube.com/embed/qgC_BZ9LOl0" title="YouTube video player"
                     frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                    <iframe width="200" height="150" src="https://www.youtube.com/embed/EFmkMfCp4O8" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </div>
            </div>
    </main>

    <!--Inicio del Footer-->
    <footer>

        <div class="pie-pagina">
            <div class="grupouno">
                <div class="box">
                    <h6>HORARIO</h6>
                    <p>Domingo 11:30 hrs</p>
                </div>
            </div>
            <div class="grupodos">
                <div class="box">
                    <h6>DIRECCIÓN</h6>
                    <p>Centro Deportivo La Araucana,</p>
                    <p>Walker Martínez N°2295, La Florida</p>
                </div>
            </div>
        </div>
        <div class="grupotres">
            <div class="box">
                <a href="https://www.instagram.com/iglesiarde/"><img src="../image/instagram.png"
                            alt="INSTAGRAM"></a>
                <a href="https://www.youtube.com/channel/UCTXnBhJsMFczqIwyNC3s8Gw"><img src="../image/youtube.png"
                            alt="YOUTUBE"></a>
            </div>
        </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>