<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/image/logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">">
    
    <!-- css -->
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Poppins:wght@500&display=swap" rel="stylesheet">
    <title>Nosotros</title>
</head>

<body>
    <!--Inicio del header-->
    <header>
        <nav class="navbar container">
            <picture class="logo">
                <img src="../image/logo.png" style="width: 50px; height: 50px;" alt="logo">
            </picture>
            <ul class="menu">
                <li class="menu__item">
                    <a href="../../index.html" class="menu__link">HOME</a>
                </li>
                <li class="menu__item">
                    <a href="nosotros.html" class="menu__link">NOSOTROS</a>
                </li>
                <li class="menu__item">
                    <a href="mensajes.html" class="menu__link">MENSAJES</a>
                </li>
                <li class="menu__item">
                    <a href="blog.html" class="menu__link">BLOG</a>
                </li>
                <li class="menu__item">
                    <a href="contacto.html" class="menu__link">CONTACTO</a>
                </li>
            </ul> 
        </nav>
    </header>
    <!--Fin del header-->
    
        <div class="container-content">
            <article>
                <h2 class="conocenos">CONÓCENOS</h2>
            </article>
        <div class="container-all container">       
            <h3 class="container-history">Nuestra historia
                <p class="parrafo_container_history">La Iglesia Cristiana Renuevo del Espíritu nació oficialmente el año 2010. Comenzó como un grupo casero que se reunía a orar en la casa de los Pastores Melvin Anabalón Y Verónica Arenas. Luego al segundo Servicio se sumó un hermano, al tercer encuentro otro y así sucesivamente hasta 
                    que finalmente formaron esta iglesia animados por la palabra que Dios les había entregado de formar esta Congregación.</p><br>
            </h3>
            <h3 class="container-valores">Nuestros valores
                <p class="parrafo_container_valores">AMOR: 1° Cor 16.13, Hagan todo con amor, Mateo 22.37-40; Juan 13.34-35; 1° Juan 3.14, 16-18. todo comienza por dejarse amar por Dios, y corresponderle en amor, amando a nuestros hermanos y hermanas.</p><br>
                <p class="parrafo_container_valores">SERVICIO: 3° Juan 5. Amado fielmente te conduces cuando prestas algún servicio a los hermanos, especialmente a los desconocidos. Salmo 100.2; Mateo 20.25-28; Juan 13.12-15; Gálatas 6.9-10. El servicio es vivir en la disponibilidad a las necesidades ajenas.</p>
            </h3>
            <h3 class="container-hacemos">¿Por qué hacemos lo que hacemos?
                <p class="parrafo_container_hacemos"> Somos una Iglesia que se mueve por el Espíritu Santo en santidad, obediencia consagración y servicio. Una Iglesia que ama a Jesús y que busca al Padre por sobre todo.</p><br>
            </h3>
            <div class="imageiglesia">
                <img src="../image/imagefamilia.jpeg" style= "width: 200px;height: 200px" alt="imagefamilia">   
            </div>  
        </div>  
        </div>
    
    <footer> 
        <div class="pie-pagina">
            <div class="grupouno">
                <div class="box">
                    <h6>HORARIO</h6>
                    <p>Domingo 11:30 hrs</p>
                </div>
            </div>
            <div class="grupodos">
                <div class="box">
                    <h6>DIRECCIÓN</h6>
                    <p>Centro Deportivo La Araucana,</p>
                    <p>Walker Martínez N°2295, La Florida</p>
                </div>
            </div>
        </div>
        <div class="grupotres">
            <div class="box">
                <a href="https://www.instagram.com/iglesiarde/"><img src="../image/instagram.png"
                            alt="INSTAGRAM"></a>
                <a href="https://www.youtube.com/channel/UCTXnBhJsMFczqIwyNC3s8Gw"><img
                            src="../image/youtube.png" alt="YOUTUBE"></a>
            </div>
        </div>
    
        <!--Inicio del Footer-->
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>