<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/image/logo.png" type="image/x-icon">
    <!-- css -->
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Poppins:wght@500&display=swap" rel="stylesheet">
    <title>Nosotros</title>
</head>

<body>
    <!--Inicio del header-->
    <header>
        <nav class="navbar">
            <picture class="logo">
                <img src="../image/logo.png" style="width: 50px; height: 50px;" alt="logo">
            </picture>
            <ul class="menu">
                <li class="menu__item">
                    <a href="../../index.html" class="menu__link">HOME</a>
                </li>
                <li class="menu__item">
                    <a href="nosotros.html" class="menu__link">NOSOTROS</a>
                </li>
                <li class="menu__item">
                    <a href="mensajes.html" class="menu__link">MENSAJES</a>
                </li>
                <li class="menu__item">
                    <a href="blog.html" class="menu__link">BLOG</a>
                </li>
                <li class="menu__item">
                    <a href="contacto.html" class="menu__link">CONTACTO</a>
                </li>
            </ul> 
        </nav>
    </header>
    <!--Fin del header-->
    
        <div class="container-content">
            <article>
                <h2 class="conocenos">CONÓCENOS</h2>
            </article>
        <div class="container-all">       
            <h3 class="container-history">Nuestra historia
                <p class="parrafo_container_history">La Iglesia Cristiana Renuevo del Espíritu nació oficialmente el año 2010. Comenzó como un grupo casero que se reunía a orar en la casa de los Pastores Melvin Anabalón Y Verónica Arenas. Luego al segundo Servicio se sumó un hermano, al tercer encuentro otro y así sucesivamente hasta 
                    que finalmente formaron esta iglesia animados por la palabra que Dios les había entregado de formar esta Congregación.</p><br>
            </h3>
            <h4 class="container-valores">Nuestros valores
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat eius ut aliquid laborum. Voluptatibus, quia? Explicabo rem possimus quasi et eum officiis. Minima molestiae dolore amet eligendi beatae ullam?</p><br>
            </h4>
            <h5 class="container-hacemos">¿Por qué hacemos lo que hacemos?
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quisquam dolor, consequuntur, sunt nostrum culpa ipsa numquam repellendus possimus, inventore quod. Nobis labore cumque dolore asperiores. Ab nam eaque quod.</p><br>
            </h5>
            <div class="imageiglesia">
                <img src="../image/imagefamilia.jpeg" style= "width: 200px;height: 200px" alt="imagefamilia">   
            </div>  
        </div>  
        </div>
    
    <footer>
        
        <div class="pie-pagina">
            <div class="grupouno">
                <div class="box">
                    <h3>HORARIO</h3>
                    <p>Domingo 11:30 hrs</p>
                </div>
            </div>
            <div class="grupodos">
                <div class="box">
                    <h3>DIRECCIÓN</h3>
                    <p>Centro Deportivo La Araucana,</p>
                    <p>Walker Martínez N°2295, La Florida</p>
                </div>
            </div>
        </div>
        <div class="grupotres">
            <div class="box">
                <a href="https://www.instagram.com/iglesiarde/"><img src="../image/instagram.png"
                            alt="INSTAGRAM"></a>
                <a href="https://www.youtube.com/channel/UCTXnBhJsMFczqIwyNC3s8Gw"><img
                            src="../image/youtube.png" alt="YOUTUBE"></a>
            </div>
        </div>

    </footer>

</body>

</html>