/*Misc */
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Pacifico&family=Poppins:wght@500&display=swap");
/*Normalize*/
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Pacifico&family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62,5%;
  font-weight: 50%;
  min-height: 100%;
  position: relative; }

body {
  font-family: var(--font-primary);
  line-height: var(--secundary);
  font-size: medium;
  min-height: 100vh;
  margin-bottom: 0;
  padding-bottom: 10rem;
  color: var(--secundary); }

footer {
  position: absolute;
  bottom: 0;
  width: 100%; }

h2 {
  width: 100%;
  height: 80px;
  color: #ffffff;
  background-image: linear-gradient(to top, #9d9499, #877b85, #6f6372, #564d61, #3b3851, #293047, #17273d, #021f32, #011d29, #041a21, #081719, #0c1313);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 50px;
  float: none;
  animation-name: moving;
  animation-duration: 1s; }

@keyframes moving {
  from {
    width: 0%; }
  to {
    width: 100%; } }

.p-large {
  padding: 3rem; }

.p-medium {
  padding: 2rem; }

.p-small {
  padding: 0.5rem; }

.s-text {
  size: 2rem; }

/*partials */
header {
  background-color: #212529;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 2; }

.logo {
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: white; }

.navbar {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  max-width: 1080px;
  margin: auto;
  font-family: "Poppins", sans-serif !important; }
  .navbar .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-family: 'Poppins', sans-serif; }

.nav- {
  color: white; }

.button {
  font-family: var(--secundary);
  font-size: var(--secundary);
  line-height: var(--secundary); }

.collapse {
  display: flex;
  justify-content: space-between; }

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0%;
  background-color: #212529; }

.navbar-brand {
  color: beige;
  transition-delay: 2s;
  font-size: x-large;
  font-weight: 400;
  margin: 20px; }

.pie-pagina {
  background-color: black;
  font-size: small;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  width: 100%; }
  .pie-pagina .grupouno .box {
    font-size: small;
    color: white;
    text-align: center; }
    .pie-pagina .grupouno .box p {
      padding: 0.5rem; }
  .pie-pagina .grupodos .box {
    font-size: small;
    color: white;
    text-align: center; }

.grupotres .box {
  font-size: small;
  text-align: center;
  background-color: black;
  font-size: small;
  color: white;
  text-align: center; }

/*views */
.container-cover {
  width: 100%;
  height: 500px;
  position: relative;
  top: 50px;
  background-image: url(../image/imagenbienvenidos.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.container-info-cover {
  max-width: 800px;
  height: 500px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F4F6F5; }

.frase p {
  max-width: 800px;
  height: 200px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bbcac2;
  font-size: 30px;
  animation-name: amamos_permanecer;
  animation-duration: 6s;
  animation-delay: 2s;
  animation-iteration-count: infinite; }

.frase_dos {
  justify-content: center;
  align-items: center;
  font-style: oblique;
  max-width: 800px;
  height: 80px;
  margin: auto;
  text-align: center; }

@keyframes amamos_permanecer {
  0% {
    color: #bbcac2; }
  50% {
    color: rgba(135, 20, 243, 0.856); }
  80% {
    color: #564d61; }
  100% {
    color: #060606; } }

.imagehome {
  max-width: 1080px;
  margin: auto;
  align-items: center;
  padding-bottom: 40px;
  display: block;
  justify-content: center;
  text-align: center; }

@media screen and (max-width: 768px) {
  /*header*/
  .navbar {
    font-size: 0.5rem;
    height: 50px; }
  /*Portada*/
  .container-info-cover {
    font-size: 0.8rem; }
  .frase p {
    font-size: 1rem; }
  .frase_dos {
    font-size: 0.8rem; }
  /*Footer*/
  .pie-pagina {
    width: 100%; }
  .pie-pagina .grupouno .box {
    font-size: 0.5rem; }
  .pie-pagina .grupodos .box {
    font-size: 0.5rem; }
  .grupotres .box {
    font-size: 0.4rem; } }

@media screen and (min-width: 350px) {
  /*header*/
  .navbar {
    font-size: 0.7rem;
    height: 50px; } }

.container-all-container {
  display: grid;
  grid-template-columns: repeat(5, 0.5fr);
  grid-template-rows: repeat(5, 0.5fr);
  height: 100%;
  margin: 40px;
  min-height: auto; }

.container-history {
  grid-column: 2 / 5;
  grid-row: 1;
  padding-top: 40px;
  text-align: justify;
  margin: 40px;
  min-height: auto; }

.parrafo_container_history {
  font-size: medium;
  gap: 20px; }

.imageiglesia {
  grid-column: 3 /4;
  grid-row: 4;
  justify-content: center;
  min-height: auto;
  margin: 40px; }

.container-valores {
  grid-column: 2 /5;
  grid-row: 2;
  text-align: justify;
  margin: 40px;
  min-height: auto; }

.parrafo_container_valores {
  font-size: medium; }

.container-hacemos {
  grid-column: 2 /5;
  grid-row: 3;
  text-align: justify;
  row-gap: 10px;
  margin: 40px;
  min-height: auto; }

.parrafo_container_hacemos {
  font-size: medium;
  min-height: auto; }

.videos_mensajes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  overflow: hidden;
  height: 100%; }

.videoprincipal {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  padding-top: 20px;
  width: auto;
  text-align: center; }

.seccionvideos {
  grid-column: 2 / 4;
  grid-row: 2 / 5;
  text-align: center;
  width: 100%;
  overflow: hidden;
  flex-direction: column; }

.container_blog {
  font-size: 0.3rem; }

@media screen and (max-width: 768px) {
  .h2 {
    font-size: 0.3rem; } }

.fotoblog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  overflow: hidden;
  height: 100%;
  color: beige; }

.anuncios {
  background-color: #faf1fa;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  padding-top: 80px;
  padding: 20px;
  text-align: left;
  margin-top: 80px;
  background: linear-gradient(90deg, #80808a 0%, #9314de 31%, #8d9bcb 100%, #f6f6f6 100%); }

.eventos {
  background-color: #c174c1;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  padding-top: 20px;
  padding: 20px;
  text-align: left;
  margin-top: 40px;
  background: linear-gradient(90deg, #80808a 0%, #9314de 31%, #8d9bcb 100%, #f6f6f6 100%); }

.reflexiones {
  background-color: #c174c1;
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  padding-top: 20px;
  padding: 20px;
  text-align: left;
  margin-top: 40px;
  background: linear-gradient(90deg, #80808a 0%, #9314de 31%, #8d9bcb 100%, #f6f6f6 100%); }

@media screen and (max-width: 768px) {
  .container_blog {
    font-size: 0.3rem; } }

.formulario {
  height: 100vh;
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 0;
  max-height: infinite;
  background-image: linear-gradient(to top, #9d9499, #877b85, #6f6372, #564d61, #3b3851, #293047, #17273d, #021f32, #011d29, #041a21, #081719, #0c1313); }

.form {
  background-color: #F4F6F5;
  margin: 20px;
  width: 90%;
  padding-top: 80px;
  padding: 4.5em 3em;
  padding-bottom: 10px;
  border-radius: 40px;
  box-shadow: 0 5px 10px -5px;
  text-align: center;
  grid-column: 3 / 5;
  grid-row: 1 / 6; }

.form__title {
  font-size: 2em;
  margin-bottom: .5em; }

.form__paraghaph {
  font-weight: 300; }

.form-container {
  margin-top: 3em;
  display: grid;
  gap: 2.5em; }

.form-group {
  position: relative;
  --color: #5757577e; }

.form_input {
  width: 100%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: .6em .3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color); }

.form_input:focus + .form-label,
.form_input:not(:placeholder-shown) + .form-label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: rgba(135, 20, 243, 0.856); }

.form-label {
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform .5s, color .3s; }

.form-submit {
  background-color: rgba(39, 39, 236, 0.829);
  color: #F4F6F5;
  font-style: normal;
  font-weight: 100;
  font-size: 1rem;
  padding: .4em 0;
  border-radius: .5em; }

.form-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #706c6c;
  transform: scale(0);
  transform: left bottom;
  transition: transform .4s; }

@media screen and (max-width: 1080px) {
  .form {
    font-size: 0.3rem;
    border-radius: 20px; }
  .form-submit {
    font-size: 0.3rem;
    border-radius: .4em; } }
