
.pie-pagina{
    background-color: black;
    font-size: small;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    width: 100%;  
    
    .grupouno .box{
        font-size: small;
        color: rgb(255, 255, 255); 
        text-align:center; 
        p{
            padding: map-get($paddings , small);
        }
      
    }
    .grupodos .box{
        font-size: small;
        color: rgb(255, 255, 255);
        text-align:center;
           } 
} 
.grupotres .box{
    font-size: small;
    text-align: center;
    background-color:black;
    font-size: small;
    color: rgb(255, 255, 255);
    text-align: center;
  
}
    
